h3 {
  font-weight: bold;


  &:hover{
    cursor: pointer;
    color: darken($color: #bbbbbb, $amount: 0);
  }
}

button{
  background: red;
  margin-right: 25px;
  height: 45px;
  width: 85px;
  border: none;
  font-size: small;

  &:hover{
    background: darken($color: #000000, $amount: 0)
  }
  .click{
    background: darken($color: #000000, $amount: 0);
    border: none;
  }
}
